@import "abstract/variables",
        "abstract/mixins",
        url('https://cdn.rawgit.com/kattergil/seoulNamsan-Webfont/ce840f3d/styles.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #060C20 0%, #100745 79.69%);
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    padding: 16px;
    width: 100%;
    font-size: 24px;
    font-family: SeoulNamsan;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: auto;
    width: 30%;
}
