@import "base/reset",
        "base/fonts";

@import "abstract/variables",
        "abstract/mixins";
        
@import "layout/header",
        "layout/article";

@import "components/card";

@import url('https://cdn.rawgit.com/kattergil/seoulNamsan-Webfont/ce840f3d/styles.css');


body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #060C20 0%, #100745 79.69%);

//     background-image: url(img/bg.jpg);
//     background-size: cover;
}

#home {
    height: 100%;  
}

a {
    text-decoration: none;
    color: inherit;
}


h1 {
    margin-top: 20%;
}

h1 span {
    color: $highlight_orange;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    padding: 56px;
    gap: 16px;
    max-width: 1500px;
    margin: auto;
}

#works .section_item {
    background-color: #fff;
    color: #000;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.caption {
    background-color: rgb(0,0,0,0.8);
    padding: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
}

.about_container {
    display: flex;
    flex-wrap: wrap;
    padding: 64px;
    align-items: center;

    img {
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
        margin: auto 64px;
    }

    p {
        width: 50%;
    }
}


@media screen and (max-width : 700px) {
    .about_container {
        justify-content: center;
        text-align: justify;
    }
}
