nav {
    padding: 16px;
    width: 100%;
    font-size: 24px;
    position: absolute;

    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin: auto;
        width: 30%;
    }

    a:hover {
        color: $highlight_orange;
        transition: color 0.3s;
    }
    
}
